<div id="feed" ng-controller="postController as post">
    <h3>Feed</h3>
    <form ng-submit="post.create()">
        Type: 
        <select ng-model="post.temp.type">
            <option value="short">Short</option>
        </select><br>
        <textarea ng-model="post.temp.text"></textarea><br>
    </form>
    <form ng-submit="post.addTag()">
        <input type="text" placeholder="Add tag..." ng-model="post.temp.tag" />
        <ul>
            <li ng-repeat="tag in post.temp.tags">{{tag}}</li>
        </ul>
    </form>
    </form>
</div>
<div class="aside">
<div id="fRequests">
    <h5>Friend Requests</h5>
    <ul>
        <li ng-repeat="request in user.frJSON">
            {{request.name}} ({{request.email}}) <button ng-click="use.addFriend(request.id)">Confirm</button> <button ng-click="use.deleteRequest(request.id)">Delete</button>
        </li>
    </ul>
    <p ng-show="user.frJSON.length<1">No friend requests</p>
</div>

<div class="friends">
    <h5>Friends</h5>
    <ul>
        <li ng-repeat="friend in user.fJSON">
            <span style="color: blue;cursor: pointer; font-size: 15px;" ng-click="use.getPage(friend)"> {{friend.name}}</span> <i>@{{friend.username}}</i>
        </li>
    </ul>
    <p ng-show="user.fJSON.length<1">Well, this is awkward</p>
</div>
</div>