<div id="feed" ng-controller="postController as post">
    <h3>Feed</h3>
    	Current: {{post.current}}
    	<form ng-submit="post.addObj()">
        	Type: <br>
        	<select ng-model="post.temp.objekts[post.current].type">
        	    <option value="short" selected="selected">Short</option>
        	</select><br>
        	<!-- for short -->
        	<textarea ng-model="post.temp.objekts[post.current].text" id="shortText"></textarea><br>
        	{{post.temp.objekts[post.current].text.length||0}}/140<br>
        </form>
        <button ng-click="post.lastObj()">last part</button>
        <button ng-click="post.addObj()">add part</button>
        <button ng-click="post.create('')">Create Post</button>
        <form ng-submit="post.addTag()">
        	<input type="text" placeholder="Add tag..." ng-model="post.tag" />
            <ul>
                <li ng-repeat="tag in post.tags">{{tag}}</li>
            </ul>
        </form>
    <h4>Preview</h4>
    <div ng-repeat="obj in post.temp.objekts">
        <h6>{{obj.type}}</h6>
        <span ng-show="obj.type=='short'">{{obj.text}}</span>
    </div>
    </form>
</div>
<div class="aside">
<div id="fRequests">
    <h5>Friend Requests</h5>
    <ul>
        <li ng-repeat="request in user.frJSON">
            {{request.name}} ({{request.email}}) <button ng-click="use.addFriend(request.id)">Confirm</button> <button ng-click="use.deleteRequest(request.id)">Delete</button>
        </li>
    </ul>
    <p ng-show="user.frJSON.length<1">No friend requests</p>
</div>

<div class="friends">
    <h5>Friends</h5>
    <ul>
        <li ng-repeat="friend in user.fJSON">
            <a href="/api/show/{{friend.username}}"> {{friend.name}}</a> <i>@{{friend.username}}</i>
        </li>
    </ul>
    <p ng-show="user.fJSON.length<1">Well, this is awkward</p>
</div>
<div id="groups">
    <h5>Groups</h5>
    <ul>
        <li ng-repeat="group in user.gJSON">
            <a href="/api/show/{{group.handle}}">{{group.name}} <i>@{{group.handle}}</i></a>
        </li>
        <li>
        <form ng-submit="use.nGroup()">
            <input type="text" ng-model="nGroup.name" placeholder="Name"><br>
            <input type="text" ng-model="nGroup.handle" placeholder="Handle"><br>
            <input type="submit" value="Create Group">
        </form>
        </li>
    </ul>
</div>
</div>
