<div id="feed">
	{{user.name}}
    <h3>Feed</h3>
    <div style="float:right;display: inline-block;width: 20%;border: 1px solid black;padding: 20px;">
    	<h5>Friend Requests</h5>
    	<ul>
    		<li ng-repeat="request in user.frJSON">
    			{{request.name}} ({{request.email}}) <button ng-click="use.addFriend(request.id)">Confirm</button> <button ng-click="use.deleteRequest(request.id)">Delete</button>
    		</li>
    	</ul>
    </div>
    <div style="float:right;display: inline-block;width: 20%;border: 1px solid black;padding: 20px;">
    	<h5>Friends</h5>
    	<ul>
    		<li ng-repeat="friend in user.fJSON">
    			{{friend.name}} ({{friend.email}})
    		</li>
    	</ul>
    </div>
</div>