<!DOCTYPE html>
<html>
  <head>
    <title>Your App Here!</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/material.css">
    <!--STYLES END-->
  </head>
  <body>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular.uirouter.js"></script>
    <script src="/js/dependencies/ngSanitize.js"></script>
    <script src="/js/dependencies/angular-file-upload-shim.js"></script>
    <script src="/js/dependencies/angular-file-upload.js"></script>
    <script src="/js/dependencies/upload.js"></script>
    <script src="/js/dependencies/angular-sails.min.js"></script>
    <script src="/js/dependencies/markdown.js"></script>
    <script src="/js/dependencies/material.js"></script>
    <script src="/js/dependencies/app.jquery.js"></script>
    <script src="/js/dependencies/app.socket.js"></script>
    <script src="/js/dependencies/app.angular.js"></script>
    <script src="/js/dependencies/app.angular.post.js"></script>
    <script src="/js/dependencies/app.angular.search.js"></script>
    <script src="/js/dependencies/app.angular.settings.js"></script>
    <script src="/js/dependencies/app.angular.group.js"></script>
    <script src="/js/dependencies/app.angular.user.js"></script>
    <script src="/js/dependencies/app.angular.directives.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript">
    	var socket  = io.connect();
        $("#preview").show();
    </script>
	<div ng-app="app" ng-controlller="userController as use">
			<div id="err"></div>
            <div id="info"></div>
			<div id="topNav" class="container">
				<div><a href="/#/feed">App</a></div>
                <div class="loggedIn" style="width: 5%;"><a href="/#/settings"><img src="/images/settings.png" alt="settings" style="height: 35px;"></a></div>
                <div class="loggedIn" style="width: 5%;"><a href="/#/messages"><img src="/images/messages.png" alt="messages" style="height: 35px;"></a></div>
				<div class="loggedIn"><a href="/api/show/{{user.username}}"><b>{{user.name}}</b> <span style="font-size: 17px;"><i>@{{user.username}}</i></span></a></div>
				<div id="searchBar" ng-controller="searchController as s">
						<input type="text" placeholder="Search..." id="search"/>
						<div ng-repeat="option in options" ng-click="s.getPage(option)" class="opt" style="display: block; float: left; width: 100%; padding: 0px 5px 5px;text-align: left;font-size: 15px;">
                        <a href="/api/show/{{option.handle}}"><b>{{option.name}}</b> @{{option.handle}}</a></div>
				</div>
				<div class="loggedIn" id="logout"><a href="/session/destroy">Logout</a></div>
			</div>
	   <div id="main">
       		<div class="container" ng-show="pag">
				<h2>{{pag.name}}</h2>
				{{pag.privacy}}<br>
				<div class="container pag.friends">
					<div id="addGroup" ng-controller="groupController as group">
						<button ng-click="group.join()" ng-show="!pag.joined&&pag.privacy=='public'">Join Group</button>
						<span ng-show="pag.request">Request sent</span>
						<button ng-click="group.ask(pag.handle)" ng-show="!pag.joined&&pag.privacy=='semiprivate'&&!pag.request">Request in</button>
						<span ng-show="pag.joined">Joined</span>
						<button ng-show="pag.joined" ng-click="group.leave(pag.handle)">Leave</button>
					</div>
					<div ng-controller="postController as post" style="margin-top: 50px;width: 80%;display:inline-table">
					<form ng-submit="post.create(pag.id)">
						<textarea id="pUser" type="text" ng-model="post.temp.objekts[0].text" placeholder="write to {{pag.name}}" rows="3" cols="50" style="width: 100%;height: 50px;resize: none"></textarea>
						<input type="hidden" ng-model="post.temp.objekts[0].type" value="short">
					</form>
					<li ng-repeat="p in posts"><span ng-show="p.objekts[0].type=='short'"><a href="/user/show/{{p.owner}}">@{{p.ownerName}}</a>: {{p.objekts[0].text}}</span></li>
					</div>
					<div class="aside" style="width: 15%;display:inline-table">
						<div>
						</div>
						<div class="friends">
							<h5>Members</h5>
							<ul>
								<li ng-repeat="mem in pag.mJSON"><a href="/api/show/{{mem.username}}">{{mem.name}} <i>@{{mem.username}}</i></a></li>
								<p ng-show="pag.friends.length<1">No users in this group</p>
							</ul>
						</div>
					</div>
				</div>
			</div>     
	   </div>
    </div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>
