<!DOCTYPE html>
<html>
  <head>
    <title>Your App Here!</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>

  <body>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular.uirouter.js"></script>
    <script src="/js/dependencies/app.jquery.js"></script>
    <script src="/js/dependencies/app.angular.js"></script>
    <script src="/js/dependencies/app.angular.search.js"></script>
    <script src="/js/dependencies/app.angular.page.js"></script>
    <script src="/js/dependencies/app.angular.directives.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
	<div ng-app="app" ng-controller="userController as use">
			<div id="err"></div>
            <div id="info"></div>
			<div id="topNav" class="container">
				<div><a ui-sref="feed">App</a></div>
                <div class="loggedIn" style="width: 5%;"><a ui-sref="settings"><img src="/images/settings.png" alt="settings" style="height: 35px;"></a></div>
                <div class="loggedIn" style="width: 5%;"><a ui-sref="messages"><img src="/images/messages.png" alt="messages" style="height: 35px;"></a></div>
				<div class="loggedIn"><span ng-click="use.getPage(user)"><b>{{user.name}}</b> <span style="font-size: 17px;"><i>@{{user.username}}</i></span></span></div>
				<div id="searchBar" ng-controller="searchController as s">
						<input type="text" placeholder="Search..." id="search"/>
						<div ng-repeat="option in options" ng-click="s.getPage(option)" class="opt" style="display: block; float: left; width: 100%; padding: 0px 5px 5px;text-align: left;font-size: 15px;">
                        <b>{{option.name}}</b> @{{option.username}}</div>
				</div>
				<div ng-click="use.logOut()" class="loggedIn" id="logout">Logout</div>
			</div>
	   <div id="main">
            <div ui-view></div>
	   </div>
    </div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>