



<div class="loggedOut container" id="startLog" ng-controller="userController as userCtrl">
    		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					<h1><span class="sLogin">Login</span><span class="sSign-up">Register</span></h1>
				</div>
				<form class="sLogin" ng-submit="userCtrl.login()">
					<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="email" id="login-email" ng-model="userCtrl.tLogin.email">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
	
					<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="password" id="login-pass" ng-model="userCtrl.tLogin.password">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
					<input type="submit" class="btn btn-primary btn-large btn-block" value="login">
				</form>
                <!-- Sign up form -->
				<form class="sSign-up" ng-submit="userCtrl.signUp()">
                	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="email" id="login-sEmail" ng-model="userCtrl.temp.email">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
                	
                	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="name" id="login-sName" ng-model="userCtrl.temp.name">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
                	
                	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="username" id="login-sUser" ng-model="userCtrl.temp.username">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
					
					<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="password" id="login-sPass" ng-model="userCtrl.temp.password">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
					
					<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="confirm password" id="login-sCpass" ng-model="userCtrl.temp.cPassword">
					<label class="login-field-icon fui-user" for="login-email"></label>
					</div>
                	<input type="submit" class="btn btn-primary btn-large btn-block" value="Register">
            	</form><br>
				<span style="color: blue;cursor: pointer;text-align: center">
					<span class="sSign-up" id="login-button">Login</span>
					<span class="sLogin" id="signUp-button">Register</span>
				</span>
				<a class="login-link" href="#">Lost your password?</a><br>
			</div>
		</div>
</div>
