<!DOCTYPE html>
<html>
  <head>
    <title>Your App Here!</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>
  <body>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular.uirouter.js"></script>
    <script src="/js/dependencies/ngSanitize.js"></script>
    <script src="/js/dependencies/angular-file-upload-shim.js"></script>
    <script src="/js/dependencies/angular-file-upload.js"></script>
    <script src="/js/dependencies/upload.js"></script>
    <script src="/js/dependencies/angular-sails.min.js"></script>
    <script src="/js/dependencies/markdown.js"></script>
    <script src="/js/dependencies/app.jquery.js"></script>
    <script src="/js/dependencies/app.socket.js"></script>
    <script src="/js/dependencies/app.angular.js"></script>
    <script src="/js/dependencies/app.angular.post.js"></script>
    <script src="/js/dependencies/app.angular.search.js"></script>
    <script src="/js/dependencies/app.angular.settings.js"></script>
    <script src="/js/dependencies/app.angular.message.js"></script>
    <script src="/js/dependencies/app.angular.group.js"></script>
    <script src="/js/dependencies/app.angular.user.js"></script>
    <script src="/js/dependencies/app.angular.directives.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
	<div ng-app="app" ng-controlller="userController as use">
			<div id="err"></div>
            <div id="info"></div>
			<div id="topNav" class="container">
				<div><a href="/#/feed">App</a></div>
                <div class="loggedIn" style="width: 5%;"><a href="/#/settings"><img src="/images/settings.png" alt="settings" style="height: 35px;"></a></div>
                <div class="loggedIn" style="width: 5%;"><a href="/#/messages"><img src="/images/messages.png" alt="messages" style="height: 35px;"></a></div>
                <div id="searchBar" ng-controller="searchController as s">
                        <input type="text" placeholder="Search..." id="search"/>
                        <div ng-repeat="option in options" ng-click="s.getPage(option)" class="opt" style="display: block; float: left; width: 100%; padding: 0px 5px 5px;text-align: left;font-size: 15px;">
                        <a href="/api/show/{{option.handle}}"><b>{{option.name}}</b> @{{option.handle}}</a></div>
                </div>
                <div class="loggedIn" id="tName" style="width: 30%;text-align:left"><a href="/api/show">
                    <b>{{user.name}}</b> 
                    <span style="font-size: 17px;"><i>@{{user.username}}</i></span></a>
                    <span ng-show="user.admin" style="font-size: .5em"><a href="/pages/admin">Admin</a></span>
                </div>
				<div class="loggedIn" id="logout"><a href="/session/destroy">Logout</a></div>
			</div>
		<div id="main" ng-controller="postController as post">
      		<div id="pCont">
      			<h1>{{postt.name}}</h1>
            <span ng-show="user.id==postt.owner" ng-click="post.showEdit()" style="color:blue;cursor: pointer">Edit</span><br>
            <div id="editor">
                <ul>
                    <li ng-repeat="o in postt.objekts" ng-click="post.cEdit(o.order)">{{o.order}}</li>
                </ul>
                <div id="mdEdit" ng-show="postt.objekts[post.current].type=='md'">
                    <textarea ng-model="postt.objekts[post.current].text" id="text-input" oninput="this.editor.update()">{{post.objekt[post.current].text}}</textarea>
                </div>
                <div id="picEdit" ng-show="postt.objekts[postt.current].type=='pic'"></div><br>
                <button ng-click="post.closeEdit()">Close</button>&emsp;<button ng-click="post.edit()">Save</button>
            </div>
            <div id="preview">
            	<div ng-repeat="o in postt.objekts" ng-bind-html="o.html"></div>
            </div>
            <script>
              var socket  = io.connect();
              $("#preview").show();
            </script>
      		</div>
		</div>
	</div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>
