<div ng-controller="userController as userCtrl">
	<div id="cPassword" class="container">
		<h3>Change Password</h3>
		<form ng-submit="userCtrl.cPassword()">
		<input type="password" placeholder="Current Password" ng-model="userCtrl.temp.cPassword"><br>
		<input type="password" placeholder="New Password" ng-model="userCtrl.temp.nPassword"><br>
		<input type="password" placeholder="Confirm Password" ng-model="userCtrl.temp.cnPassword"><br>
		<input type="submit" value="Submit">
		</form>
	</div>
	<div ng-controller="settingsController as settings" class="container">
	<h4>Who can post to me</h4>
	<select ng-change="settings.crPost(set.rp)" ng-model="set.rp">
		<option value="false">Only friends</option>
		<option value="true">Anyone</option>
	</select>
	</div>
	<div id="cPrivacy" class="container">
		<h3>Change Privacy</h3>
		<p>This changes whether other people can search for your account</p>
		<p><i>Only change this once per login</i></p>
		<input type="checkbox" name="private" ng-model="userCtrl.temp.private" ng-click="userCtrl.private(userCtrl.temp.private);" id="privateChk"> Private
	</div>
	<div ng-show="user.gAdmin.length>0" class="container" ng-controller="groupController as group">
		<h2>Group Settings</h2>
		Group: 
		<select ng-model="userCtrl.temp.gAdmin" id="gSelect" ng-change="group.get(userCtrl.temp.gAdmin)">
			<option ng-repeat="group in user.gAdmin" value="{{group}}">{{group}}</option>
		</select>
		<br>
		Admins: 
		<ul>
			<li ng-repeat="admin in groupJSON.admin">{{admin}} <span ng-click="group.rAdmin(admin, userCtrl.temp.gAdmin)" style="color: blue;cursor: pointer">Remove</span></li>
		</ul>
		<h4>Add Admin</h4>
		<form ng-submit="group.addAdmin(group.aUsername, userCtrl.temp.gAdmin)">
			@<input type="text" placeholder="username" ng-model="group.aUsername">
			<input type="submit" value="Add">
		</form>
		<h4>Change acceptance type</h4>
		<ul>
			<li>Public: anyone can join</li>
			<li>Private: must be invited, only name is searchable</li>
			<li>Semi-private: ask for invitaions</li>
		</ul>
		<select ng-change="group.cPrivacy(groupJSON.privacy, groupJSON.handle)" ng-model="groupJSON.privacy">
			<option value="public">Public</option>
			<option value="semiprivate">Semi-Private</option>
			<option value="private">Private</option>
		</select>
		<div ng-show="groupJSON.privacy=='semiprivate'">
			<h4>Page Requests</h4>
			<ul>
				<li ng-repeat="request in groupJSON.requests"><a href="/api/show/{{request}}">{{request}}</a>
					<button ng-click="group.jAdmin(userCtrl.temp.gAdmin, request)">Add</button>
					<button>Deny</button>
				</li>
			</ul>
			<span ng-show="groupJSON.requests.length<1"><i>None</i></span>
		</div>
	</div>
</div>
