<div ng-controller="userController as userCtrl">
	<div id="cPassword" class="container">
		<h3>Change Password</h3>
		<form ng-submit="userCtrl.cPassword()">
		<input type="password" placeholder="Current Password" ng-model="userCtrl.temp.cPassword"><br>
		<input type="password" placeholder="New Password" ng-model="userCtrl.temp.nPassword"><br>
		<input type="password" placeholder="Confirm Password" ng-model="userCtrl.temp.cnPassword"><br>
		<input type="submit" value="Submit">
		</form>
	</div>
	<!-- change default post
	<div id="cdPost" class="container">
	</div>-->
	<div id="cPrivacy" class="container">
		<h3>Change Privacy</h3>
		<p>This changes whether other people can search for your account</p>
		<p><i>Only change this once per login</i></p>
		<input type="checkbox" name="private" ng-model="userCtrl.temp.private" ng-click="userCtrl.private(userCtrl.temp.private);" id="privateChk"> Private
	</div>
	<div ng-show="user.gAdmin.length>0" class="container" ng-controller="groupController as group">
		<h2>Group Settings</h2>
		Group: 
		<select ng-model="userCtrl.temp.gAdmin" id="gSelect" ng-change="group.getAdmin(userCtrl.temp.gAdmin)">
			<option ng-repeat="group in user.gAdmin" value="{{group}}">{{group}}</option>
		</select>
		<br>
		Admins: 
		<ul>
			<li ng-repeat="admin in gAdmins">{{admin}} <span ng-click="group.rAdmin(admin, userCtrl.temp.gAdmin)" style="color: blue;cursor: pointer">Remove</span></li>
		</ul>
		<h3>Add Admin</h3>
		<form ng-submit="group.addAdmin(group.aUsername, userCtrl.temp.gAdmin)">
			@<input type="text" placeholder="username" ng-model="group.aUsername">
			<input type="submit" value="Add">
		</form>
	</div>
</div>
