<div class="container" ng-show="pag">
	<h2>{{pag.name}}</h2>
	<div class="container pag.friends">
		<div id="friendsWith" ng-controller="userController as use" ng-hide="pag.id==user.id">
			<span ng-show="pag.friendsWith">Friends
			<button ng-click="use.rFriend(pag.id)">Remove Friend</button>
			</span>
			<div ng-show="!pag.friendsWith">
				<button ng-show="!pag.request" ng-click="use.addFriendRequest(pag.id)">Add Friend</button>
				<span ng-show="pag.request">Request Sent</span>
			</div>
		</div>
		<div ng-show="user.id==pag.id">
			<h4>Requests</h4>
			<ul ng-controller="searchController as s">
				<li ng-repeat="request in pag.friendRequests">
				<span ng-click="s.getPage(request.id)">{{request.name}} ({{request.email}})</span>
				<button ng-click="use.addFriend(request.email)">Confirm</button>&emsp;
				<button ng-click="use.deleteFriendRequest(request.id)">Delete</button>
				</li>
			</ul>
			<p ng-show="pag.friendRequests.length<1">No friend requests</p>
		</div>
		<div class="aside">
		<div class="friends">
		<h5>Friends</h5>
		<ul>
			<li ng-repeat="friend in pag.friends"><span style="color: blue;cursor: pointer" ng-click="use.getPage(friend)">{{friend.name}}</span></li>
			<p ng-show="pag.friends.length<1">Well, this is awkward...</p>
		</ul>
		</div>
		</div>
	</div>
</div>