<!DOCTYPE html>
<html>
  <head>
    <title>Your App Here!</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>
  <body>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular.uirouter.js"></script>
    <script src="/js/dependencies/ngSanitize.js"></script>
    <script src="/js/dependencies/angular-file-upload-shim.js"></script>
    <script src="/js/dependencies/angular-file-upload.js"></script>
    <script src="/js/dependencies/upload.js"></script>
    <script src="/js/dependencies/angular-sails.min.js"></script>
    <script src="/js/dependencies/markdown.js"></script>
    <script src="/js/dependencies/app.jquery.js"></script>
    <script src="/js/dependencies/app.socket.js"></script>
    <script src="/js/dependencies/app.angular.js"></script>
    <script src="/js/dependencies/app.angular.post.js"></script>
    <script src="/js/dependencies/app.angular.search.js"></script>
    <script src="/js/dependencies/app.angular.settings.js"></script>
    <script src="/js/dependencies/app.angular.group.js"></script>
    <script src="/js/dependencies/app.angular.user.js"></script>
    <script src="/js/dependencies/app.angular.directives.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript">
    	var socket  = io.connect();
        $("#preview").show();
    </script>
	<div ng-app="app" ng-controlller="userController as use">
			<div id="err"></div>
            <div id="info"></div>
			<div id="topNav" class="container">
				<div><a href="/#/feed">App</a></div>
                <div class="loggedIn" style="width: 5%;"><a href="/#/settings"><img src="/images/settings.png" alt="settings" style="height: 35px;"></a></div>
                <div class="loggedIn" style="width: 5%;"><a href="/#/messages"><img src="/images/messages.png" alt="messages" style="height: 35px;"></a></div>
				<div id="searchBar" ng-controller="searchController as s">
						<input type="text" placeholder="Search..." id="search"/>
						<div ng-repeat="option in options" ng-click="s.getPage(option)" class="opt" style="display: block; float: left; width: 100%; padding: 0px 5px 5px;text-align: left;font-size: 15px;">
                        <a href="/api/show/{{option.handle}}"><b>{{option.name}}</b> @{{option.handle}}</a></div>
				</div>
				<div class="loggedIn" id="tName" style="width: 30%;text-align:left"><a href="/api/show">
                    <b>{{user.name}}</b> 
                    <span style="font-size: 17px;"><i>@{{user.username}}</i></span></a>
                    <span ng-show="user.admin" style="font-size: .5em"><a href="/pages/admin">Admin</a></span>
                </div>
				<div class="loggedIn" id="logout"><a href="/session/destroy">Logout</a></div>
			</div>
	   <div id="main">
       		<div class="container" ng-show="pag">
				<h2>{{pag.name}}</h2>
				<div class="container pag.friends">
					<div id="friendsWith" ng-controller="userController as use" ng-hide="pag.id==user.id">
						<span ng-show="pag.friendsWith">Friends
							<button ng-click="use.rFriend(pag.id)">Remove Friend</button>
						</span>
						<div ng-show="!pag.friendsWith">
							<button ng-show="!pag.request" ng-click="use.addFriendRequest(pag.id)">Add Friend</button>
							<span ng-show="pag.request">Request Sent</span>
						</div>
					</div>
					<div ng-controller="postController as post" style="margin-top: 50px;width: 80%;display:inline-table">
					<form ng-submit="post.create(pag.id)">
						<textarea id="pUser" type="text" ng-model="post.temp.objekts[0].text" placeholder="write to {{pag.name}}" rows="3" cols="50" style="width: 100%;height: 50px;resize: none"></textarea>
						<input type="hidden" ng-model="post.temp.objekts[0].type" value="short">
					</form>
					<div ng-repeat="p in posts" data-id="p.id">
						<span ng-show="p.name"><a href="/post/show/{{p.slug}}">{{p.name}}</a></span>
						<span><a href="/api/show/{{p.owner}}">@{{p.ownerName}}</a></span>
						<span style="float: right">
						<i>
							<span style="font-size: .7em" ng-show="p.public">Public</span>
							<span style="font-size: .7em" ng-show="!p.public">Private</span>
						</i>&emsp;
						<span ng-click="post.destroy(p.id)" style="color: red;cursor: pointer;" ng-show="p.owner==user.id">X</span>
						</span><br>
						<span ng-show="!p.name">{{p.objekts[0].text}}<br></span>
						<span ng-click="post.showCom(p.id)" style="color: blue;cursor: pointer;" ng-show="!p.open">
							<span ng-show="p.numComments==0||!p.numComments">No Comments</span>
							<span ng-show="p.numComments>0">Show {{p.numComments}} Comments</span><br>
						</span>
						<div ng-repeat="com in p.comments" ng-show="p.open">
							@{{com.username}}: {{com.content}} <span style="color: red;cursor: pointer" ng-click="post.delComment(com.id, p.id)">X</span>
						</div><br>
						<form ng-submit="post.nComment(post.temp.comment[p.id], p.id)">
							<input type="text" placeholder="Comment..." ng-model="post.temp.comment[p.id]" ng-show="p.open"/>
						</form>
						<span style="color: blue;cursor: pointer;" ng-show="p.open" ng-click="post.hideComments(p.id)">Hide Comments</span>
					</div>
					</div>
					<div class="aside" style="width: 15%;display:inline-table">
						<div class="friends">
							<h5>Friends</h5>
							<ul>
								<li ng-repeat="friend in pag.friends"><a href="/api/show/{{friend.username}}">{{friend.name}} @{{friend.username}}</a></li>
								<p ng-show="pag.friends.length<1">Well, this is awkward...</p>
							</ul>
						</div>
					</div>
				</div>
			</div>     
	   </div>
    </div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>
