/*
button {
    border: 0px none; 
    font-size: 15px; 
    padding: 5px;
}
*/
#topNav {
    width: 100%;
    height: 50px;
    background: black;
    opacity: .8;
    margin-bottom: 50px;
}
#topNav div {
    opacity: .9;
    color: white;
    display: inline-table;
    width:   10%;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 25px;
    background: black;
    text-align: center;
    cursor: pointer;
}
#logout{
    float: right;
}
#topNav div a {
    color: white;
    border: 0px;
}
#topNav div a:hover {
       border: 0px;
}
#topNav div:hover:not(#searchBar) {
    opacity: .5
}
.opt {
    float: left;
}
#startLog {
    margin-top: 75px;
    
    padding: 30px;
    
}
#startLog div {
    width: 40%;
    display: inline-table;
    opacity: 1;
    background: #F5F5F5;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px #E8E8E8;
}
#startLog div:last-child {
    float: right;
}
#startLog input {
    border: 0px;
}
#startLog div input:last-child{
    border-radius: 3px;
    font-size: 25px;
    background: #E8E8E8
}
#startLog div input:last-child:hover{
    box-shadow: 1px 1px 0px grey;
}
#err {
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: 20%;
    width: 50%;
    color: white;
    background: #E01220;
    z-index: 20;
    padding: 15px;
    opacity: .9;
}
#info{
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: 20%;
    width: 50%;
    color: white;
    background: #1AB824;
    z-index: 20;
    padding: 15px;
    opacity: .9;   
}
.aside{
    float: right;
    
}
#feed {
    margin-left: 10%;
    display: inline-table;
    width: 20%;
}
#editor {
    display: inline-table;
    width: 48%;
    height: 700px;
    position: fixed;
}
#editor ul{
    width: 20%;
    display: inline-block;
}
#editor ul li{
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid black;
}
#mdEdit {
    width: 70%;
    display: inline-block;
    margin-top: 20px;
}
#mdEdit textarea{
    width: 100%;
    height: 300px;
}
#preview{
    width: 50%;
    display: inline-table;
}
#preview img{
    width: 100%;
}
#fRequests {
    float: right;
    width: 100%;
    display: block;
}
#fRequests p{
    font-style: italic;
    font-size: 12px;
    margin-left: 10px;
}
.friends {
    float: right;
    width: 100%;
    height: 300px;
}
.friends p{
    font-style: italic;
    font-size: 12px;
    margin-left: 10px;
}
#tName {
    width: 30%;
    text-align: left;
}
#leftOpt {
    display: none;
    position: absolute;
    width: 20%;
    background: black;
}
@media screen and (max-width: 900px){
    #leftOpt {
        top: 50px;
        display: inline-block;
    }
    .icon {
        display: none;
    }
}